
/************************SELECTORS************************/
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

/************************CLASS SELECTORS************************/
.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.container-fluid {
    padding: 3% 15% 5%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

.rotated-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

.dl-btn {
    margin: 5% 3% 5% 0;
}

.feature-col {
    text-align: center;
    padding: 4.5%;
}

.feat-headers {
    font-size: 1.5rem;
}

.features-icons {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icons:hover {
    color: #ff4c68;
}

.feature-description {
    color: #8f8f8f;
    font-family: "Ubuntu", sans-serif;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

.pricing-column {
    padding: 3% 2%;
}

.icon {
    margin: 20px 10px;
}

.icon:hover {
    color: #6f6f6f;
}

/************************ID SELECTORS************************/
#title {
    background-color: #ff4c68 !important;
    overflow: hidden;
    color: white;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
    padding: 100px;
    text-align: center;
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

#footer {
    text-align: center;
    background-color: #fff;
    padding: 7% 15%;
    color:#8f8f8f;
}

/************************Queries************************/

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .rotated-img {
        width: 60%;
        position: static;
        transform: rotate(0);
    }
}